user_uuid = "9cb11476-9e83-4cbe-b6bf-db54c6dad290"


bucket_name = "7qbp9p1g7slm8e44mho89wfm0fwzjm28"


index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"

content_version=1